.blog-page {
  width: 100%;
  height: auto;
  display: flex;
}

.blog-page-left {
  display: flex;
  width: 50%;
  height: auto;
  background-color: greenyellow;
}

.blog-page-right {
  display: flex;
  width: 50%;
  height: auto;
  background-color: pink;
}

.israel-trip-category li {
  cursor: pointer;
}
